@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));
html {
    scroll-behavior: smooth;
}

@media (max-width: 550px){
    html{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    html{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    html{
        font-size: 8px;
    }
}

@media (min-width: 1024px){
    html{
        font-size: 16px;
    }
}
@media (min-width: 1500px){
    html{
        font-size: 20px;
    }
}
