#Sale{
    background-image: url(/img/Sale_Bg_Img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floatDownUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
}

.SaleShirtsShort{
    animation: floatDownUp 1.8s ease-in-out infinite;
}

.SaleShirts{
    animation: floatUpDown 2s ease-in-out infinite;
}